html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

a {
    text-decoration: none;
    color: #1c1e53;
    transition: color 0.3s ease;
}

h5 {
    font-size: 25px;
}

li {
    list-style: none;
}

nav {
    background-color: #fff;
    top: 0;
    padding: 0 85px;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0 5px 80px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo span {
    letter-spacing: -2.3px;
}

nav .logo a {
    margin-left: 8px;
    font-weight: bold;
    font-size: 22px;
    animation: typing 0s steps(34), blink .6s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3.4px solid;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.logo a:hover {
    color: #2f33ff;
}

nav ul li a:hover {
    color: #2f33ff;
}

nav button a:hover {
    text-decoration: none;
    color: white;
}

nav .logo img {
    width: 40px;
    height: 40px;
}

nav ul {
    display: flex;
    gap: 40px;
}

nav button {
    color: #1c1e53;
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 5px;
    border: 0px solid #1c1e53;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav button:hover {
    color: white;
    background-color: #2f33ff;
    transition: .4s;
}

/* MAIN */


.main {
    background-color: #deebee;
    padding: 90px 85px;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.main .left {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main .left h3 {
    font-weight: bold;
    font-size: 56px;
}

.main .left h3 span {
    color: #2f33ff;
}

.main .left p {
    color: #1c1e53;
    font-size: 18px;
    margin-top: 20px;
}

.buttonDownload {
    margin-top: 40px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    padding: 14px 30px;
    background-color: #2f33ff;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
    border: none;
    cursor: pointer;
}


.buttonDownload:hover {
    color: #ffffff;
    /* Altera a cor do texto para azul quando passar o mouse */
    background-color: #1c1e53;
    transition: .5s;
}

.buttonDownload:before,
.buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
}

.buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
}

.buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
}

.buttonDownload:hover:before {
    border-color: #cdefbd;
}

.buttonDownload:hover:after {
    border-top-color: #cdefbd;
    animation-play-state: running;
}

@keyframes downloadArrow {
    0% {
        margin-top: -7px;
        opacity: 1;
    }

    0.001% {
        margin-top: -15px;
        opacity: 0.4;
    }

    50% {
        opacity: 1;
    }

    100% {
        margin-top: 0;
        opacity: 0.4;
    }
}

.main .right img {
    width: 500px;
    margin-right: 100px;
    border-radius: 50%;
}

/* ABOUT */


.skills {
    padding: 110px 85px 0;
}

.skills h3 {
    text-align: center;
}

.skills h3,
.about .right h3,
.portfolio .header h3,
.feedback h3 {
    font-size: 40px;
    margin-top: 20px;
}

.skills .skill-items {
    display: flex;
    margin-top: 70px;
    gap: 30px;
}

.skills .skill-items .item {
    background-color: #deebee;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    padding: 32px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.skills .skill-items .item:hover {
    border-color: #5e3bee;
    box-shadow:
        0px 0px 2.2px rgba(0, 0, 0, 0.1),
        0px 0px 5.3px rgba(0, 0, 0, 0.1),
        0px 0px 10px rgba(0, 0, 0, 0.1),
        0px 0px 17.9px rgba(0, 0, 0, 0.1),
        0px 0px 33.4px rgba(0, 0, 0, 0.1),
        0px 0px 80px rgba(0, 0, 0, 0.1);
}

.skills .skill-items .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 46px;
    border-radius: 10px;
    margin-bottom: 22px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.skills .skill-items .item i {
    font-size: 30px;
    padding-top: 10px;
}

.skills .skill-items .item .icon h4 {
    font-size: 26px;
    color: #006b6a;

}

.skills .skill-items .item h4,
.portfolio .portfo-items .item .info h4 {
    font-size: 18px;
}

.skills .skill-items .item p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 22px;
    color: #1c1e53;
}


.item button {
    background-color: white;
    border-radius: 15px;
    border: none;
    width: 430px;
    padding: 5px;
    cursor: pointer;
}


/* TOOLTIP */

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-family: poppins;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltiptext {
    visibility: hidden;
    width: 350px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}

.tooltip .icone {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

/* ABOUT */

.portfolio {
    padding: 100px 85px;
    padding-bottom: 0;
    margin-bottom: 0px;
    height: 700px;
}

.portfolio .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    text-align: center;
}

.portfolio .header button {
    background-color: #ff0000;
    padding: 10px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    border: none;
    border-radius: 10px;
}

.portfolio .header button i {
    font-size: 26px;
}

.portfolio .portfo-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portfolio .portfo-items .item {
    width: 30%;
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
}

.portfolio .portfo-items .item:hover {
    border-color: #5e3bee;
    box-shadow:
        0px 0px 2.2px rgba(0, 0, 0, 0.1),
        0px 0px 5.3px rgba(0, 0, 0, 0.1),
        0px 0px 10px rgba(0, 0, 0, 0.1),
        0px 0px 17.9px rgba(0, 0, 0, 0.1),
        0px 0px 33.4px rgba(0, 0, 0, 0.1),
        0px 0px 80px rgba(0, 0, 0, 0.1);
}

.portfolio .portfo-items .item img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: top;
    border-radius: 10px 10px 20px 20px;
}

.portfolio .portfo-items .item .info {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 20px 32px 42px;
}

.portfolio .portfo-items .item .info p {
    font-size: 13px;
}

.portfolio .portfo-items .item .info a {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #5e3bee;
}

.portfolio .portfo-items .item .info a i {
    margin-left: 2px;
    font-size: 16px;
}



/* MEDIA QUERY */

@media screen and (max-width: 1200px) {

    .main .left h5 {
        font-size: 18px;
    }

    .main .left h3 {
        font-size: 36px;
    }

    .main .left p {
        font-size: 18px;
    }

    .main .right img {
        width: 380px;
    }

    .skills .skill-items {
        gap: 10px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .skills .skill-items .item {
        width: 49%;
    }

    .about .left img {
        width: 370px;
    }

    .skills h3,
    .about .right h3,
    .portfolio .header h3,
    .feedback h3 {
        font-size: 32px;
    }

    .about .right p {
        font-size: 15px;
    }

    .feedback .customers .item .rating {
        font-size: 20px;
    }

    .feedback .customers .item p {
        font-size: 13px;
    }

    footer .top ul {
        gap: 20px;
    }

}

@media screen and (max-width: 992px) {

    nav button {
        display: none;
    }

    nav ul {
        gap: 20px;
    }

    nav ul li a {
        font-size: 15px;
    }

    .main {
        flex-direction: column;
    }

    .about {
        flex-direction: column;
        justify-content: center;
    }

    .portfolio .portfo-items {
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio .portfo-items .item {
        width: 48%;
    }

    .feedback .customers {
        gap: 14px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .feedback .customers .item {
        width: 48%;
    }

    footer .top ul {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    nav {
        justify-content: space-between;
        padding: 0 42px;
    }

    nav ul {
        display: none;
    }

    nav.open .logo {
        display: none;
    }

    nav.open ul {
        display: flex;
    }

    nav button#menuButton {
        display: flex;
    }

    .main {
        padding: 42px;
    }

    .skills {
        padding: 85px 42px 0;
    }

    .skills .skill-items {
        gap: 8px;
    }

    .about {
        padding: 85px 42px;
    }

    .portfolio {
        padding: 60px 42px;
    }

    .portfolio .portfo-items {
        gap: 18px;
    }

    .feedback {
        padding: 85px 42px;
    }

    footer {
        padding: 85px 42px;
    }

    footer .bottom {
        flex-direction: column-reverse;
        gap: 14px;
    }

}

@media screen and (max-width: 576px) {

    nav ul li a {
        font-size: 13px;
    }

    nav .logo a {
        font-size: 18px;
    }

    .main .left h3 {
        font-size: 32px;
    }

    .main .left p {
        font-size: 16px;
    }

    .main .left button {
        width: 100%;
    }

    .skills .skill-items .item {
        width: 100%;
    }

    .portfolio .header button {
        font-size: 12px;
        padding: 8px 14px;
    }

    .portfolio .portfo-items .item {
        width: 80%;
    }

    .feedback .customers .item {
        width: 100%;
    }

}

/* FOOTER */

footer {
    background-color: #1c1e53;
    color: #ffffff;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content {
    flex: 1;
    margin-right: 20px;
}

.footer-content h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    margin-bottom: 8px;
}

.social-links li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-content {
    text-align: center;
}

.footer-bottom {
    background-color: #0f113a;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 15px;
}